body{
    background-color: #FBEAD6;
    display: flex;
    flex-direction: column;
    width: 1280px;
    height: auto;
    margin: auto;
}
.menu{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}
header a {
    color: #FBEAD6;
    text-decoration: none;
}
header li {
    display: flex;
    font-family: 'RobotoCondensed', Arial, sans-serif;
    background-color: #2C2C2C;
    font-size: 45px;
    align-items: center;
    letter-spacing: -1px;
    line-height: 120%;
    font-weight: bold;
    height: 66px;
    width: auto;
    padding-left: 10px 16px 10px 16px;
}
h1 {
    display: none;
}
.section1 {
    text-align: center;
}
