body {
    background-color: #FBEAD6;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: auto;
}

.container {
    min-width: 1280px;
    display: flex;
    flex-direction: column;
}

.none {
    display: none;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}

header {
    margin-top: 10px;
}

header a {
    color: #FBEAD6;
    text-decoration: none;
}

header li {
    display: flex;
    font-family: 'RobotoCondensed', Arial, sans-serif;
    font-weight: 900;
    line-height: 120%;
    background-color: #2C2C2C;
    font-size: 45px;
    align-items: center;
    letter-spacing: -1px;
    line-height: 120%;
    font-weight: bold;
    height: 66px;
    padding-left: 10px 16px 10px 16px;
    margin: 1%;
}

.crestmiddle {
    width: 298px;
    text-align: center;
}

.contact {
    width: 265px;
    text-align: center;
}

.section1 {
    min-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.flashlight_badge{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
}

.flashlight {
    width: 640px;
    height: 640px;
}

.Badge {
    height: 197.5px;
    margin-left: -50px;
    margin-top: 480px;
}

.peper {
    width: 1280px;
    height: 301px;
}

.section2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.grey {
    color: #717171;
    font-size: 12px;
    font-family: 'RobotoCondensed', Arial, sans-serif;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
}

.text {
    font-family: 'RobotoCondensed', Arial, sans-serif;
    font-weight: 700;
    line-height: 130%;
    color: #2C2C2C;
    margin: auto;
    font-size: 30px;
    width: 1200px;
    height: 78px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.section3 {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0%;
}

.star {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 40px;
}

.section3p {
    font-family: 'RobotoCondensed', Arial, sans-serif;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #2C2C2C;
}

.section4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-bottom: 88px;
    margin-top: 88px;
}

.imgs4 {
    width: 540px;
    height: 540px;
    padding: 50px;
}

.section5 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fest {
    font-family: 'RobotoCondensed', Arial, sans-serif;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 20px;
    color: #2C2C2C;
}

hr {
    border: none;
    height: 1px;
    background-color: #717171;
    width: 920px;
    margin: 20px auto;
    margin-bottom: 0px;
    margin-top: 60px;
    padding: 0px;
}

.section5_1 {
    display: flex;
    flex-direction: row;
    width: 920px;
    height: 126px;
    margin: auto;
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    line-height: 150%;
    font-size: 20px;
    color: #2C2C2C;
}

.time {
    display: flex;
    margin: auto;
    text-align: left;
    line-height: 30px;
    font-family: 'RobotoCondensed', Arial, sans-serif;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    font-size: 20px;
    color: #2C2C2C;
    margin-top: 20px;
    margin-left: 0px;
}

.block5 {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 716px;
    height: 106px;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nametext5 {
    font-family: 'RobotoCondensed', Arial, sans-serif;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    font-size: 20px;
    color: #2C2C2C;
    margin-bottom: 15px;
}

.section6 {
    display: flex;
    flex-direction: column;
}

.bigimg {
    display: flex;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 40px;
    width: 1200px;
    height: 600px;
    border-radius: 10px;
}

.BigtextS6 {
    font-family: 'RobotoCondensed', Arial, sans-serif;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 60px;
    color: #2C2C2C;
}

.textS6 {
    margin-top: 40px;
    text-align: center;
    color: #2C2C2C;
    font-size: 20px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    line-height: 150%;
    padding-left: 40px;
    padding-right: 40px;
}

footer {
    background-color: #7AA4AD;
    display: flex;
    flex-direction: column;
    margin-top: 94px;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 40px;
}

footer p {
    font-size: 12px;
    font-family: 'RobotoCondensed', Arial, sans-serif;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    color: #2C2C2C;
    padding: 2px;
}

.blockfooter {
    width: 293px;
    height: 54px;
}

.block7left {
    display: flex;
    margin: auto;
    margin-right: 0px;
    margin-top: 0px;
    text-align: right;
}

footer a {
    margin-left: 12px;
}

.peper2 {
    width: 1100px;
    height: 210px;
    margin: auto;
    margin-bottom: 90px;
    margin-top: 136px;
}
